.p{
    color:pink;
    background-color:skyblue;
    font-size:7px;
    margin-top:10px;
    padding:1px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(pink,skyblue);

}